#
#
# This is a sample newrelic_plugin.yml file. Please move this file
# to the following location if it is not already there:
#
#     ./config/newrelic_plugin.yml
#
# Where the current directory is the directory where your main program resides and is your current
# directory when you run the main program.
#
# Please make sure to update the license_key information with the license key for your New Relic
# account.
#
#
newrelic:
  #
  # Update with your New Relic account license key:
  #
  license_key: 'YOUR_LICENSE_KEY_HERE'
  #
  # Set to '1' for verbose output, remove for normal output.
  # All output goes to stdout/stderr.
  #
  #verbose: 1
#
# Agent Configuration:
#
agents:
  mongodb:
    # for best outcome, us a full mongodb path for your "name"
    agent_name: "localhost:27017/mongodb"
    endpoint: "localhost"
    database: "sample-db"

    #
    #  If you are running MongoDB without authentication, please delete from now to the end
    #  of the file.
    #
    #  If you *are* running authentication on MongoDB please enter the following.  In order 
    #  to monitor MongoDB, on an authenticated environment, an admin user is required.  To 
    #  add an admin user, just add the user to the admin database like so from the MongoDB CLI:
    #
    #  > use admin
    #  > db.addUser("myadminuser", "myadminpassword")
    #
    username: "root"
    password: ""
